@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); 

body {
    font-family: 'Montserrat', sans-serif;
    background: #EFF4F5;
}
.container {
    width: 1250px;
    margin: auto;
    padding-top: 2rem; 
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    margin-bottom: 2rem;
}

.search {
    display: block;
    width: 50%;
    font-size: 1.25rem; 
    padding: 0.5rem;
}

.create-btn {
    display: block;
    margin-left: 20px;
    justify-self: flex-end;
    border: 1px solid white;
    background-color: #35a;
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s; 
}

.create-btn:hover {
    background-color: white; 
    color: #35a;
} 

.create-modal-btn {
    display: block; 
    border: 1px solid white;
    background-color: #35a;
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    border-radius: 20px;
    font-size: 18px;
    transition: background-color 0.5s, color 0.5s; 
}

.notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.note { 
    border: 2px solid #35a; 
    padding: 1rem;
    border-radius: 10px; 
}



.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    padding: 0.25rem;
    border-radius: 5px;
    margin: 0.25rem;
}

.create-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }